Investigating Aries RFC's and DIDComm v2 overlap

## Background
I have been spending some time lately researching the [Aries RFC's](https://github.com/hyperledger/aries-rfcs/blob/master/index.md), and trying to look for overlapping with [the new Identity Fondation-hosted DIDComm v2](https://identity.foundation/didcomm-messaging/spec/)

## Aries DIDComm RFC's overlapping with DIDComm v2

- Aries RFC 0003 Protocols - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0003-protocols/README.md
- Aries RFC 0005 Didcomm - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0005-didcomm/README.md
- Aries RFC 0019 Encryption envelope - https://github.com/hyperledger/aries-rfcs/blob/master/features/0019-encryption-envelope/README.md
- Aries RFC 0025 Didcomm transports - https://github.com/hyperledger/aries-rfcs/blob/master/features/0025-didcomm-transports/README.md
- Aries RFC 0046 Mediators and relays - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0046-mediators-and-relays/README.md

## Aries DIDComm RFC's partially overlapping 
- Aries RFC 0021 Didcomm message anatomy - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0021-didcomm-message-anatomy/README.md
- Aries RFC 0160 Connection protocol - https://github.com/hyperledger/aries-rfcs/blob/master/features/0160-connection-protocol/README.md
 
## Aries DIDComm RFC's not overlapping with DIDComm v2

- Aries RFC 0008 Message id and threading - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0008-message-id-and-threading/README.md
- Aries RFC 0011 Decorators - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0011-decorators/README.md
- Aries RFC 0020 Message types - https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0020-message-types/README.md